Makefile.in
Makefile
.deps
doc/wiki
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.rpath
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
config.h
config.log
config.status
dovecot-config.in
libtool
stamp-h1
stamp.h

