Makefile.in
Makefile
.deps
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.rpath
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
config.h
config.log
config.status
dovecot-config.in
libtool
stamp-h1
stamp.h
*.o
*.lo
*.la
.libs
*.a
*.1
dovecot-config
dovecot-version.h
doc/wiki
doc/example-config/README
src/anvil/anvil
src/anvil/test-penalty
src/auth/auth
src/auth/checkpassword-reply
src/auth/test-auth-cache
src/config/all-settings.c
src/config/config
src/config/doveconf
src/dict/dict
src/director/director
src/director/director-test
src/director/test-user-directory
src/dns/dns-client
src/doveadm/doveadm
src/doveadm/doveadm-server
src/doveadm/dsync/test-dsync-mailbox-tree-sync
src/imap-login/imap-login
src/imap-urlauth/imap-urlauth
src/imap-urlauth/imap-urlauth-login
src/imap-urlauth/imap-urlauth-worker
src/imap/imap
src/indexer/indexer
src/indexer/indexer-worker
src/ipc/ipc
src/lda/dovecot-lda
src/lib-dict/dict-drivers-register.c
src/lib-dict/test-dict
src/lib-http/test-http-client
src/lib-http/test-http-date
src/lib-http/test-http-header-parser
src/lib-http/test-http-request-parser
src/lib-http/test-http-response-parser
src/lib-http/test-http-server
src/lib-http/test-http-transfer
src/lib-http/test-http-url
src/lib-imap/test-imap-bodystructure
src/lib-imap/test-imap-match
src/lib-imap/test-imap-parser
src/lib-imap/test-imap-quote
src/lib-imap/test-imap-url
src/lib-imap/test-imap-utf7
src/lib-imap/test-imap-util
src/lib-index/test-mail-index-sync-ext
src/lib-index/test-mail-index-transaction-finish
src/lib-index/test-mail-index-transaction-update
src/lib-index/test-mail-transaction-log-append
src/lib-index/test-mail-transaction-log-view
src/lib-mail/test-istream-attachment
src/lib-mail/test-istream-binary-converter
src/lib-mail/test-istream-dot
src/lib-mail/test-istream-header-filter
src/lib-mail/test-istream-qp-decoder
src/lib-mail/test-mbox-from
src/lib-mail/test-message-address
src/lib-mail/test-message-date
src/lib-mail/test-message-decoder
src/lib-mail/test-message-header-decode
src/lib-mail/test-message-header-encode
src/lib-mail/test-message-header-parser
src/lib-mail/test-message-id
src/lib-mail/test-message-parser
src/lib-mail/test-quoted-printable
src/lib-mail/test-rfc2231-parser
src/lib-sql/sql-drivers-register.c
src/lib-storage/register/mail-storage-register.c
src/lib-storage/register/mailbox-list-register.c
src/lib-storage/test-mailbox-get
src/lib/UnicodeData.txt
src/lib/test-lib
src/lib/unicodemap.c
src/lmtp/lmtp
src/log/log
src/master/dovecot
src/plugins/fts-squat/squat-test
src/plugins/fts/xml2text
src/plugins/quota/quota-status
src/plugins/quota/rquota.h
src/plugins/quota/rquota_xdr.c
src/pop3-login/pop3-login
src/pop3/pop3
src/replication/aggregator/aggregator
src/replication/replicator/replicator
src/ssl-params/ssl-params
src/stats/stats
src/util/gdbhelper
src/util/maildirlock
src/util/rawlog
src/util/script
src/util/script-login
